/* BASE */
* {
    box-sizing: border-box;
}

html {
    font-size: .625em; /* fallback IE8+ */
    font-size: calc(1em * .625); /* IE9-IE11 math fixing. */
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    color: #333;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    line-height: 1;
}

h1, .h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2, .h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3, .h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

h4, .h4 {
    font-size: 1.4rem;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 1rem .5rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    h1, .h1 {
        font-size: 4rem;
    }

    h2, .h2 {
        font-size: 3rem;
    }

    h3, .h3 {
        font-size: 2.5rem;
    }

    h4, .h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }

    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 2rem 2rem;
    }
}

/* SECTIONS */
section {
    padding: .5rem
}

.section-title {
    font-size: 2rem;
}

@media screen and (max-width: 749px) {
    .section {
        padding: 1rem 0;
    }

    .section-title {
        text-align: center;
    }
}

/* HEADER */
.header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header .logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 0 1rem;
    color:fff;
}

.navbar {
    display: none;
}

.header li {
    display: inline-flex;
    align-items: center;
}

.header .navbar li:first-child {
    padding-left: 2rem;
}

.header .navbar li {
    padding: 0 1rem;
}

.header .navbar li:last-child {
    padding-right: 2rem;
}

.header .navbar a {
    color: #333;
    font-size: 1.4rem;
    padding: 0;
}

.header .navbar a:hover {
    color: #8000ff;
}

.header .right {
    display: flex;
    align-items: center;
}

.header .socials {
    display: flex;
}

.header .socials .icon {
    height: 18;
    width: 18;
}

.header .socials .icon:hover .icon__solid_color {
    fill: #8000ff;
}

.header .socials li {
    padding: 0 1rem;
}

.header .burger {
    background:none;
    border:none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 2rem;
}

.header .burger .bar {
    display: block;
    width: 22px;
    height: 3px;
    background-color: #333;
}

.header .burger .bar::before, .burger .bar::after{
    display: block;
    content: '';
    width: 22px;
    height: 3px;
    background-color: #333;
    position: absolute;
}

.header .burger .bar::before {
    transform: translateY(-8px);
}

.header .burger .bar::after {
    transform: translateY(8px);
}

@media screen and (min-width: 750px) {
    .header .navbar {
        display: flex;
    }
    .header .burger {
        display: none;
    }
}

/* HOME */
.home {
    background-color: #8000ff;
    color: #fff;
}

.home .title {
    margin: 2rem 0 1rem 0;
    color: inherit;
}

.home .subtitle {
    margin: 0;
    color: inherit;
}

.home p {
    margin: 0;
    color: inherit;
}

.home__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home__item span {
    text-transform: uppercase;
}

.home__profile img {
    border-radius: 50%;
    max-width: 250px;
}

@media screen and (max-width: 749px) {
    .home__item.right {
        order: 1;
    }

    .home__item.left {
        order: 2;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 750px) {
    .home .title {
        margin: 4rem 0 2rem 0;
    }

    .home__item {
        flex: 1 0 auto;
        align-items: flex-start;
        text-align: left;
    }

    .home__item.left {
        align-items: flex-start;
        width: 70%;
    }
    
    .home__item.right {
        align-items: flex-end;
    }

    .home__profile img{
        width: 200px;
    }
}

/* PROJECTS */


/* EXPERIENCES*/
